meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Facturación y procesos de auditoría en salud.
meta(meta name="description" content="En este componente formativo se abordan los conocimientos de la competencia de liquidación de servicios de salud, en el cual se describe en detalle todas las etapas fundamentales del proceso de facturación de los usuarios y toda la gestión de costos en salud.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")