h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s") 
            
            .card-body 

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Elaboración de la factura.', 'main.html#page/Elaboracion_de_la_factura/')
                    +navTemaItem('2', 'Preparación y armado de la cuenta.', 'main.html#page/Preparacion_y_armado_de_la_cuenta/')
                    +navTemaItem('3', 'Gestión de costos en salud.', 'main.html#page/Gestion_de_costos_en_salud/')
                    +navTemaItem('4', 'Costeo en salud.', 'main.html#page/Costeo_en_salud/')
                    +navTemaItem('5', 'Contabilidad conceptos básicos.', 'main.html#page/Contabilidad_conceptos_basicos/')
                    +navTemaItem('6', 'Auditoría de cuentas médicas.', 'main.html#page/Auditoria_de_cuentas_medicas/')
                    +navTemaItem('7', 'Glosas y devoluciones.', 'main.html#page/Glosas_y_devoluciones/')