h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li  
                span 230101003-3 - Garantizar la completitud de la documentación requerida en el proceso de afiliación de acuerdo con principios del sistema general de seguridad social y políticas institucionales.
            li 
                span 230101003-4 - Verificar el proceso de afiliación de acuerdo con normativa legal e institucional.