.container
    .header-ecored
        h1.color-h1 Contabilidad conceptos básicos.
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-11             
                img.img-a(src="assets/images/pages/ilustraciones/img34.svg").img-fluid        
                p.mt-5 #[strong LA CONTABILIDAD] es la parte de las finanzas que estudia las distintas partidas que reflejan los movimientos económicos y financieros de una empresa o entidad.
        .row.justify-content-center.align-items-center
            .col-9        
                .caja7
                    ul.ul1
                        li
                            p #[strong LA CONTABILIDAD: ]
                            p Es la parte de las finanzas que estudia las distintas partidas que reflejan los movimientos económicos y financieros de una empresa o entidad. Se clasifica en: Activo Corriente. Activo No Corriente.
                .caja7.mt-3
                    ul.ul1
                        li
                            p #[strong El Pasivo:] 
                            P Son las Deudas y demás obligaciones, por lo generar de carácter financiero que contrae la institución con un tercero. 
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Patrimonio:] 
                            P Este término abarca los recursos propios con los que cuenta la institución para poder financiar su activo. 
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Ingreso:] 
                            p Está relacionado con el aumento del patrimonio de la institución.
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Gasto:]
                            p Esta es la disminución de patrimonio de la institución. 
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Cuentas t:]
                            p Es la representación gráfica de un registro contable. Así, consta de dos lados, débito y crédito, o debe y haber, a la izquierda y derecha, respectivamente.
                            p Nos permite registrar entonces los movimientos en la contabilidad de manera que esto quede ilustrado en un esquema. (ecomipedia , s.f.)
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Estados financieros básicos:]
                            p Llamados también estados contables, informes financieros o cuentas anuales, simplemente es una serie de informes utilizados en las instituciones donde se refleja la situación económica y financiera. En la que se encuentra dicha organización.
                .caja7.mt-3
                    ul.ul1
                        li                    
                            p #[strong Soportes contables:]
                            p Los soportes de contabilidad son los documentos que sirven de base para registrar las operaciones comerciales de una empresa. Se elaboran en original y tantas copias como las necesidades de la empresa lo exijan.     
        h1.text-center.mt-5 Los principales soportes de contabilidad son:
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a(src="assets/images/pages/ilustraciones/img35.svg").img-fluid 
               
            .col-6
                ul.ul2
                    li 
                        p Recibo de caja.
                    li 
                        p Recibo de consignación bancaria.
                    li 
                        p Comprobante de depósito y retiro de cuenta de ahorros.
                    li 
                        p Factura de venta al contado.
                    li 
                        p Factura de venta a crédito.
                    li 
                        p Comprobante de venta con tarjeta de crédito.
                    li 
                        p Cheque.
                    li 
                        p Comprobante de pago.
                    li 
                        p Letra de cambio.
                    li 
                        p Pagaré.
                    li 
                        p Nota débito.
                    li 
                        p Nota crédito.
                    li 
                        p Recibo de caja menor.
                    li 
                        p Reembolso de caja menor.
                    li 
                        p Nota de contabilidad.
                    li 
                        p Comprobante diario de contabilidad. (Unilibre , s.f.)

                
