.container
    .header-ecored
        h1.color-h1 Glosas y devoluciones.
    .jumbotron.bg-white     
        .row.justify-content-center.align-items-center
            .col-11
                img.img-a(src="assets/images/pages/ilustraciones/img43.svg").img-fluid               
                p.mt-3 El Decreto 4747 de diciembre 7 de 2007 y la Resolución 3047 de agosto 14 de 2008 reglamentaron el procedimiento y codificaron los motivos de glosa/respuesta mediante el manual único de glosas, devoluciones y respuestas.
                ul.ul1
                    li
                        p #[strong Glosa:] Es una no conformidad que afecta en forma parcial o total el valor de la factura por prestación de servicios de salud, encontrada por la entidad responsable del pago durante la revisión integral, que requiere ser resuelta por parte del prestador de servicios de salud.
                    li
                        p #[strong Devolución:] Es una no conformidad que afecta en forma total la factura por prestación de servicios de salud, encontrada por la entidad responsable del pago durante la revisión preliminar y que impide dar por presentada la factura. 
                    li
                        p #[strong Autorización:] Es la formalización a través de la emisión de un documento o la generación de un registro por parte de la entidad responsable del pago para la prestación de los servicios requeridos por el usuario, de acuerdo con lo establecido entre el prestador de servicios de salud y la entidad responsable del pago. 
                    li
                        p #[strong Respuesta a Glosas y Devoluciones:] Se interpreta en todos los casos como la respuesta que el prestador de servicios de salud da a la glosa o devolución generada por la entidad responsable del pago. (Ministrio de salud, 2009)       
        .sub-ecored.mt-5#71
            h2 7.1 Códigos conceptos generales
        .row.justify-content-center.align-items-center
            .col-11
                p La codificación está integrada por tres dígitos. El primero indica los conceptos generales. Los dos segundos indican los conceptos específicos que se pueden dar.
        .row.justify-content-center.align-items-center
            .col-5                
                table.justify-content-center.text-center
                    thead
                        tr
                            th(scope='col').color-5 CONCEPTO GENERAL
                            th(scope='col').color-5 CONCEPTO ESPECIFICOS                           
                    tbody
                        tr
                            td.color-4 6
                            td.color-4 53
        .row.justify-content-center.align-items-center
            .col-11       
                p.mt-5 Ingresemos al Anexo 6 #[strong MANUAL ÚNICO DE GLOSAS, DEVOLUCIONES Y RESPUESTAS] donde puede identificar la codificación de las posibles glosas que se pueden presentar.
                h2.mt-5 El código para conceptos generales será el primer número de la izquierda como se indica a continuación:
                .list
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt 
                        span   Facturación.
                .list
                    .list__item
                        .list__item__number
                            span 2
                    .list__txt 
                        span  Tarifas.
                .list
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt 
                        span  Soportes.
                .list
                    .list__item
                        .list__item__number
                            span 4
                    .list__txt 
                        span  Autorización.
                .list
                    .list__item
                        .list__item__number
                            span 5
                    .list__txt 
                        span  Cobertura.
                .list
                    .list__item
                        .list__item__number
                            span 6
                    .list__txt 
                        span  Pertinencia.
                .list
                    .list__item
                        .list__item__number
                            span 7
                    .list__txt 
                        span  Devoluciones.
                .list
                    .list__item
                        .list__item__number
                            span 8
                    .list__txt 
                        span  Respuestas a glosas o devoluciones.
                h2.mt-5 La Codificación del concepto específico será el número que le sigue a continuación, según sea el motivo del hallazgo encontrado:
        .row.justify-content-center
            .col-5
                .list
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt 
                        span   Estancia. 
                .list
                    .list__item
                        .list__item__number
                            span 2
                    .list__txt 
                        span   Consultas, interconsultas y visitas médicas.
                .list
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt 
                        span   Honorarios médicos en procedimientos.
                .list
                    .list__item
                        .list__item__number
                            span 4
                    .list__txt 
                        span   Honorarios otros profesionales asistenciales.
                .list
                    .list__item
                        .list__item__number
                            span 5
                    .list__txt 
                        span   Derechos de sala.
                .list
                    .list__item
                        .list__item__number
                            span 6
                    .list__txt 
                        span   Materiales.
                .list
                    .list__item
                        .list__item__number
                            span 7
                    .list__txt 
                        span   Medicamentos.
                .list
                    .list__item
                        .list__item__number
                            span 8
                    .list__txt 
                        span   Ayudas diagnósticas.
                .list
                    .list__item
                        .list__item__number
                            span 9
                    .list__txt 
                        span   Atención integral. (caso, conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico)
                .list
                    .list__item
                        .list__item__number
                            span 10
                    .list__txt 
                        span   Servicio o insumo incluido en caso, conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico.
                .list
                    .list__item
                        .list__item__number
                            span 11
                    .list__txt 
                        span   Servicio o insumo incluido en estancia o derechos de sala.
                .list
                    .list__item
                        .list__item__number
                            span 12
                    .list__txt 
                        span   Factura excede topes autorizados.
                .list
                    .list__item
                        .list__item__number
                            span 13
                    .list__txt 
                        span    Facturar por separado por tipo de recobro. (Comité Técnico Científico, (CTC), accidente de trabajo o enfermedad profesional (ATEP), tutelas)
                .list
                    .list__item
                        .list__item__number
                            span 14
                    .list__txt 
                        span    Error en suma de conceptos facturados.
                .list
                    .list__item
                        .list__item__number
                            span 15
                    .list__txt 
                        span    Datos insuficientes del usuario.
                .list
                    .list__item
                        .list__item__number
                            span 16
                    .list__txt 
                        span    Usuario o servicio corresponde a otro plan o responsable.
                .list
                    .list__item
                        .list__item__number
                            span 17
                    .list__txt 
                        span    Usuario retirado o moroso.
                .list
                    .list__item
                        .list__item__number
                            span 18
                    .list__txt 
                        span    Valor en letras diferentes a valor en números.
                .list
                    .list__item
                        .list__item__number
                            span 19
                    .list__txt 
                        span    Error en descuento pactado.
                .list
                    .list__item
                        .list__item__number
                            span 20
                    .list__txt 
                        span    Recibo de pago compartido.
                .list
                    .list__item
                        .list__item__number
                            span 21
                    .list__txt 
                        span    Autorización principal no existe o no corresponde al prestador de servicios de salud.
                .list
                    .list__item
                        .list__item__number
                            span 22
                    .list__txt 
                        span    Prescripción dentro de los términos legales o pactados entre las partes.
                .list
                    .list__item
                        .list__item__number
                            span 23
                    .list__txt 
                        span    Procedimiento o actividad.
                .list
                    .list__item
                        .list__item__number
                            span 24
                    .list__txt 
                        span    Falta forma del prestador de servicios de salud.
                .list
                    .list__item
                        .list__item__number
                            span 25
                    .list__txt 
                        span    Examen o actividad pertenece a detección temprana y protección específica.
                .list
                    .list__item
                        .list__item__number
                            span 26
                    .list__txt 
                        span    Usuario o servicio corresponde a capitación.
            .col-5
                .list
                    .list__item
                        .list__item__number
                            span 27
                    .list__txt 
                        span   Servicio o procedimiento incluido en otro.
                .list
                    .list__item
                        .list__item__number
                            span 28
                    .list__txt 
                        span  Orden cancelada al prestador de servicios de salud.
                .list
                    .list__item
                        .list__item__number
                            span 29
                    .list__txt 
                        span  Recargos no pactados.
                .list
                    .list__item
                        .list__item__number
                            span 30
                    .list__txt 
                        span  Autorización de servicios adicionales.
                .list
                    .list__item
                        .list__item__number
                            span 31
                    .list__txt 
                        span  Bonos o Boucher sin firma del paciente, con enmendaduras o tachones.
                .list
                    .list__item
                        .list__item__number
                            span 32
                    .list__txt 
                        span  Detalle de cargos.
                .list
                    .list__item
                        .list__item__number
                            span 33
                    .list__txt 
                        span  Copia de historia clínica completa.
                .list
                    .list__item
                        .list__item__number
                            span 34
                    .list__txt 
                        span  Resumen de egreso o epicrisis, hoja de atención de urgencias u odontograma.
                .list
                    .list__item
                        .list__item__number
                            span 35
                    .list__txt 
                        span  Formato Accidente de trabajo y enfermedad profesional ATEP.
                .list
                    .list__item
                        .list__item__number
                            span 36
                    .list__txt 
                        span  Copia de factura o detalle de cargos de seguro obligatorio de accidentes de tránsito SOAT.
                .list
                    .list__item
                        .list__item__number
                            span 37
                    .list__txt 
                        span  Orden o fórmula médica.
                .list
                    .list__item
                        .list__item__number
                            span 38
                    .list__txt 
                        span  Traslado en ambulancia.
                .list
                    .list__item
                        .list__item__number
                            span 39
                    .list__txt 
                        span  Comprobante de recibido del usuario.
                .list
                    .list__item
                        .list__item__number
                            span 40
                    .list__txt 
                        span  Registro de anestesia.
                .list
                    .list__item
                        .list__item__number
                            span 41
                    .list__txt 
                        span  Descripción quirúrgica.
                .list
                    .list__item
                        .list__item__number
                            span 42
                    .list__txt 
                        span  Lista de precios.
                .list
                    .list__item
                        .list__item__number
                            span 43
                    .list__txt 
                        span  Orden o autorización de servicios vencida.
                .list
                    .list__item
                        .list__item__number
                            span 44
                    .list__txt 
                        span  Profesional que ordena no adscrito.             
                .list
                    .list__item
                        .list__item__number
                            span 45
                    .list__txt 
                        span  Cobertura sin agotar en la póliza del seguro obligatorio de accidentes de tránsito SOAT o del FOSYGA.
                .list
                    .list__item
                        .list__item__number
                            span 46
                    .list__txt 
                        span  Faltan soportes de justificación para recobros (Comité Técnico Científico. (CTC), accidente de trabajo o enfermedad profesional (ATEP), tutelas)
                .list
                    .list__item
                        .list__item__number
                            span 47
                    .list__txt 
                        span  Informe atención inicial de urgencias.
                .list
                    .list__item
                        .list__item__number
                            span 48
                    .list__txt 
                        span  Factura no cumple requisitos legales.
                .list
                    .list__item
                        .list__item__number
                            span 49
                    .list__txt 
                        span  Factura ya cancelada.
                .list
                    .list__item
                        .list__item__number
                            span 50
                    .list__txt 
                        span  Recobro en contrato de capitación por servicios prestados por otro prestador.
                .list
                    .list__item
                        .list__item__number
                            span 51
                    .list__txt 
                        span  Disminución en el número de personas incluidas en la capitación.
                .list
                    .list__item
                        .list__item__number
                            span 52
                    .list__txt 
                        span  Urgencia no pertinente.
                .list
                    .list__item
                        .list__item__number
                            span 53
                    .list__txt 
                        span Incumplimiento en las metas de cobertura, resolutividad y oportunidad pactadas en el contrato por capitación. (Ministrio de salud, 2009)
            section.mt-5
                a(href="http://biblioteca.sena.edu.co/paginas/bases.html" target="_blank").media-link.card-color-5          
                    img(src="assets/images/pages/ilustraciones/iconwww.svg").media-link-icon
                    .media-link-title
                        h4 Anexo 6 MANUAL ÚNICO DE GLOSAS, DEVOLUCIONES Y RESPUESTAS   
        .sub-ecored.mt-5#72
            h2 7.2 Respuestas de glosa o devolución 
        .row.justify-content-center.align-items-center
            .col-11              
                p Es la contestación que se da a la inconsistencia encontrada 96 glosa o devolución injustificada 97 no subsanada, (Glosa o devolución totalmente aceptada) 98 subsanada parcial, (Glosa o devolución parcialmente aceptada) y 99 subsanada. (Glosa no aceptada)
                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong 01 
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong 02 
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong 03 
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong 04 
                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')  
                            .jumbotron.color-6                                    
                                .row.justify-content-center.align-items-center
                                    .col-6
                                        h2 Respuestas de glosa o devolución
                                        p.mt-5 Es la contestación que se da a la inconsistencia encontrada 96 glosa o devolución injustificada 97 no subsanada, (Glosa o devolución totalmente aceptada) 98 subsanada parcial, (Glosa o devolución parcialmente aceptada) y 99 subsanada. (Glosa no aceptada)
                                    .col-6  
                                        img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            .jumbotron.color-6                                    
                                .row.justify-content-center.align-items-center
                                    .col-6
                                        h2 Estado actual de la glosa
                                        p.mt-5 En la actualidad en el país el mecanismo de glosa continúa siendo utilizado por las Entidades Responsables del Pago para el control del costo médico y disminución de los ingresos a las Instituciones Prestadoras de Salud con conceptos como:
                                        ul.ul2
                                            li
                                                p Generación y aplicación de motivos de glosa/devolución no contemplados dentro del manual único de glosas y devoluciones.
                                            li
                                                p Glosan aplicando el concepto de procedimientos asistenciales técnicamente inherentes al acto de la atención en salud, pero no al proceso de facturación ya que se cuentan con los códigos CUPS y adicionalmente los parágrafos y Artículos de los manuales tarifarios no contemplan estos como no facturables.
                                            li
                                                p  Se glosa la totalidad de atención y prestaciones en el caso de presentarse un evento adverso sin el concepto previo de un comité calificador. (Leuro Martinez & Oviedo salcedo, 2016)                                                                                               
                                    .col-6                          
                                        img.img-a(src="assets/images/pages/ilustraciones/img45.png").img-fluid
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                            .jumbotron.color-6                                    
                                .row.justify-content-center.align-items-center
                                    .col-6
                                        h2 Procedimiento para el trámite de glosas y respuestas
                                        p.mt-5 Estos procedimientos se entenderán, según lo establecido en el Artículo 57 de la Ley 1438 de 2011, tal y como se muestra a continuación,  Las entidades responsables del pago de servicios de salud dentro de los treinta (20) días hábiles siguientes a la presentación de la factura con todos sus soportes, formularán y comunicarán a los prestadores de servicios de salud las glosas a cada factura, con base en la codificación y alcance definidos en el manual único de glosas, devoluciones y respuestas, definido en el presente Decreto y a través de su anotación y envío en el registro conjunto de trazabilidad de la factura cuando este sea implementado. Una vez formuladas las glosas a una factura, no se podrán formular nuevas glosas a la misma factura, salvo las que surjan de hechos nuevos detectados en la respuesta dada a la glosa inicial. (Leuro Martinez & Oviedo salcedo, 2016)
                                    .col-6                          
                                        img.img-a(src="assets/images/pages/ilustraciones/img46.png").img-fluid 
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                            .jumbotron.color-6                                    
                                .row.justify-content-center.align-items-center
                                    .col-6
                                        h2 Trazabilidad de la factura
                                        p.mt-5 Es el reporte de información de todos los aspectos relacionados con la presentación de facturas, glosas, devoluciones y respuestas de las mismas, pagos y decisiones adoptadas por las entidades responsables del pago frente a las respuestas de los prestadores de servicios de salud.245La estructura del reporte de información para el registro conjunto de trazabilidad de la factura se encuentra en el Anexo Técnico 8 donde se definen los Campos, la Longitud y su forma de diligenciamiento. (Leuro Martinez & Oviedo salcedo, 2016)
                                        .caja6
                                            p Una vez realizada esta corta descripción ingresa a la biblioteca del Sena, acceda a la sección de e-books 7-24 y referencia del libro Facturación y auditoría de cuentas en salud quinta edición y ubique el capítulo 17 donde puede encontrar más información relacionada con la antes mencionado. Para afianzar y adquirir más conceptos relacionados con el tema. 
                                    .col-6                          
                                        img.img-a(src="assets/images/pages/ilustraciones/img47.png").img-fluid                                                                               