.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

                          
                tr 
                    td Ministerio de Salud Pública economía manual de costos en salud-2009
                    td Artículo
                    td 
                        a(href="http://www.dncontabilidad.sld.cu/Doc/act/manuales/MANUAL%20DE%20COSTOS%20EN%20SALUD.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Facturación y auditoría de cuentas en salud (5a. Ed.). Leuro Martínez, Mauricio; Oviedo Salcedo, Irsa Tatiana. 2016.
                    td Libro
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1i756fj/TN_pq_ebook_centralEBC4508344", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de Salud y Protección Social. resolución 1446 de 2015 (mayo 2015) Por la cual se establecen los requisitos para el reconocimiento y pago de los recobros y las reclamaciones en virtud de lo dispuesto en el artículo 112 de la Ley 1737 de 2014.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-1446-2015.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de Salud y Protección Social resolución 1328 de 2016 (15 abr 2016) por la cual se establece el procedimiento de acceso, reporte de prescripción, garantía del suministro, verificación, control, pago y análisis de la información de servicios y tecnologías en salud no cubiertas por el plan de beneficios en salud con cargo a la upc y se dictan otras disposiciones Título III documentos y requisitos para la presentación de las solicitudes de recobro y cobro.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%201328%20de%202016.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td ANEXO TÉCNICO No. 6 MANUAL ÚNICO DE GLOSAS, DEVOLUCIONES Y RESPUESTAS UNIFICACION Resolución 3047 de 2008 modificada por la Resolución 416 de 2009.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20tecnico%20No.%20%206%20Res%203047-08%20y%20416-09.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de la Protección Social resolución número 01915 DE 2008 - 28 MAY Por la cual se adoptan los formularios para reclamar las indemnizaciones derivadas de los amparos de que trata el Decreto 3990 de 2007 y se dictan otras disposiciones.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Resoluci%C3%B3n_1915_de_2008.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Proceso de radicación de cuentas. 28 may. 2016. Publicado por Erika Garcia Arroyo
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=lJUe_Z0HhIA", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Cómo radicar cuentas por servicios de salud a personas privadas de la libertad. 8 ago. 2019. Publicado por Fiduprevisora S.A.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=4bBlVH1UZQc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Charlita, Hidalgo, Pedro. Gestión de costos en salud: teoría, cálculo y uso (2a ed), Ecoe Ediciones, 2009. ProQuest Ebook Central.
                    td Libro
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1j5choe/sena_aleph000058474", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Costos para gerenciar servicios de salud. (3a. ed.) Autores: Castrillón Cifuentes, Jaime  ISBN: 9789587410495, 9789587410693 Editorial: Universidad del Norte  Año de Edición: 2010.
                    td Libro
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1i756fj/TN_pq_ebook_centralEBC3193036", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de Salud Pública economía manual de costos en salud-2009.
                    td Artículo
                    td 
                        a(href="http://www.dncontabilidad.sld.cu/Doc/act/manuales/MANUAL%20DE%20COSTOS%20EN%20SALUD.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Contabilidad financiera, correlacionado con NIIF. Angulo, U. (2018). (2a. ed.) Ediciones de la U. 2018
                    td Libro
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1j5choe/sena_aleph000099514", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Resolución 4445 de 1996 Ministerio de Salud por el cual se dictan normas para el cumplimiento del contenido del título iv de la ley 09 de 1979, en lo referente a las condiciones sanitarias que deben cumplir los establecimientos hospitalarios y similares.
                    td Artículo
                    td 
                        a(href="https://docs.supersalud.gov.co/PortalWeb/Juridica/OtraNormativa/R4445_96.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de Salud y Protección Social. resolución1446 de 2015 (mayo 2015) Por la cual se establecen los requisitos para el reconocimiento y pago de los recobros y las reclamaciones en virtud de lo dispuesto en el artículo 112 de la Ley 1737 de 2014.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-1446-2015.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr 
                    td Ministerio de Salud y Protección Social resolución 1328 de 2016 (15 abr 2016) por la cual se establece el procedimiento de acceso, reporte de prescripción, garantía del suministro, verificación, control, pago y análisis de la información de servicios y tecnologías en salud no cubiertas por el plan de beneficios en salud con cargo a la upc y se dictan otras disposiciones. Título III documentos y requisitos para la presentación de las solicitudes de recobro y cobro.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%201328%20de%202016.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                                        