include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("ADRES. (2019). adres.gov.co. Inicia la radicación electrónica de reclamaciones por accidentes de tránsito sin SOAT:", "https://www.adres.gov.co/Inicio/Noticias/Post/6346/Inicia-la-radicaci%C3%B3n-electr%C3%B3nica-de-reclamaciones-por-accidentes-de-tr%C3%A1nsito-sin-SOAT")
        +referenciaItem("Ecomipedia. (s.f.). economipedia.com. Cuentas T:", "https://economipedia.com/definiciones/cuenta-t-contabilidad.html#:~:text=La%20cuenta%20T%2C%20en%20contabilidad,quede%20ilustrado%20en%20un%20esquema.")
        +referenciaItem("Guiza, U. G. (2018). Contabilidad financiera, correlacionado con NIIF (2A. ed.). Ediciones de la U.")
        +referenciaItem("Jaime, C. C. (2010). Costos para Gerenciar Servicios de Salud 3a Ed. Universidad del norte. Leuro Martínez, M., & Oviedo Salcedo, I. T. (2016). Facturación y auditoría de cuentas en salud (5a. Ed.). Ecoe Ediciones.")
        +referenciaItem("Leuro Martinez, M., & Oviedo salcedo, I. T. (2016). Facturación y auditoría de cuentas en salud (5a. Ed.). Ecoe Ediciones.")
        +referenciaItem("Luisa Fernanda Cortés Ruiz SIIGO . (04 de diciembre de 2018). siigo.com. ¿Qué es un centro de costos?", "https://www.siigo.com/sistema-de-costos/que-es-un-centro-de-costos/")
        +referenciaItem("MINISTERIO DE SALUD PÚBLICA. (2009). dncontabilidad.sld.cu. MINISTERIO DE SALUD PÚBLICA / MANUAL DE COSTOS EN SALUD", "http://www.dncontabilidad.sld.cu/Doc/act/manuales/MANUAL%20DE%20COSTOS%20EN%20SALUD.pdf")
        +referenciaItem("Ministerio de Salud. (2015). minsalud.gov.co. Resolucion 14465 de 2015. Recobros y reclamaciones", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-1446-2015.pdf")        
        +referenciaItem("Ministerio de Salud. (15 de abril de 2016). minsalud.gov.co. Resolucion 1328 de 2016 titulo III", "https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%201328%20de%202016.pdf")
        +referenciaItem("Ministrio de Salud. (2009). minsalud.gov.co. ANEXO TÉCNICO No. 6 MANUAL ÚNICO DE GLOSAS, DEVOLUCIONES Y RESPUESTAS", "https://www.minsalud.gov.co/salud/Documents/Anexo%20tecnico%20No.%20%206%20Res%203047-08%20y%20416-09.pdf")
        +referenciaItem("Pedro, C. H. (2009). Gestion de costos en salud: teoria, calculo y uso. 2a ed. Ecoe Ediciones.")
        +referenciaItem("Supersalud, M. d. (28 de mayo de 2008). Minsalud.gov.co. RESOLUCIÓN NÚMERO 01915 DE 2008", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Resoluci%C3%B3n_1915_de_2008.pdf")
        +referenciaItem("Supersalud. (1996). docs.supersalud.gov.co. RESOLUCION 4445 DE 1996", "https://docs.supersalud.gov.co/PortalWeb/Juridica/OtraNormativa/R4445_96.pdf")
        +referenciaItem("Unilibre . (s.f.). www.unilibre.edu.co. Soportes contables", "http://www.unilibre.edu.co/CienciasEconomicas/Webcontaduria")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            